<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<nav>
  <div class="header">
    <a>
        <img src="../../../assets/510px-Latin_alphabet_Tt1.svg.png">
    </a>
  </div>

  <div class="navigation">
    <button class="btn btn-dark mr-1" id="homebutton" [routerLink]="home.path" (click)="onHomePress()">Home</button>
    <div ngbDropdown class="d-inline-block" #friendSelector="ngbDropdown">
      <button class="btn btn-dark mr-1" id="dropdownBasic1" ngbDropdownToggle>{{this.selectedFriend}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <p *ngFor="let friend of friends"
           [routerLink]="friend.path"
           (click)="friendSelector.close()">
          <button mat-button (click)="selectedFriend=friend.label">
            {{friend.label}}
          </button>
        </p>
      </div>
    </div>
    <button class="btn btn-dark mr-1" [routerLink]="valorant.path">{{valorant.label}}</button>

  </div>
</nav>
