.bg {
  /* The image used */
  background: url('../../../assets/valorant-logo-red-4k-tt.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
