
/*
.bg {
  !* The image used *!
  background: url('../assets/237-2370116_post-jojos-bizarre-adventure-jotaro-png.png');

  background-size: cover;
  border: 2px solid #e9385a;
  width: 100%;
  height: 1024px;

}
/*
 */

.home {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZUfVcN16J0_4AcLqv-eKNKic8HtZ5jPSc9VAsaWb4sJ7NlmE7&usqp=CAU");
  background-size: cover;
}

.jake {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTql-fekk2NkwsCA9D1NuBCFHccmZxM_ZHv8zcz3Ls8U7tGZ9sF&usqp=CAU");
  background-size: cover;
}

.evo {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4GtW_Hm_YJhGU36NBwzZ7p4r4Ew2bQYRYx12YHE8tiy_vXcxH&usqp=CAU");
  background-size: cover;
}
.testNav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#evo {color: deeppink; font-size: 20px; font-style: oblique; font-weight: bolder}
#jake {color: deeppink; font-size: 20px; font-style: oblique; font-weight: bolder}
#home {color: deeppink; font-size: 20px; font-style: oblique; font-weight: bolder}

