<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<div class="navigation">
  <button type="button" mat-icon-button (click)="sidenav.open()" color="primary">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <button class="btn btn-outline-primary" id="homebutton" [routerLink]="home.path" (click)="selectedFriend='Friends'">Home</button>
    <div ngbDropdown class="d-inline-block" #friendSelector="ngbDropdown">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{this.selectedFriend}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <p *ngFor="let friend of friends"
           [routerLink]="friend.path"
           (click)="friendSelector.close()">
          <button mat-button (click)="selectedFriend=friend.label">
            {{friend.label}}
          </button>
        </p>
      </div>
    </div>

  <mat-sidenav-container
    class="example-container" (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
      <p *ngFor="let link of navLinks"
      [routerLink]="link.path"
      (click)="close()">
        <button mat-button>
          {{link.label}}
        </button>
      </p>
    </mat-sidenav>
  </mat-sidenav-container>

<div class="modal-body" *ngIf="count>=5 && count<6">
  <input type="image" src="../assets/49tjaosw3km41.png"  alt="spook" class="fiddlemodal btn-danger"/>
</div>


</div>
<button class="spookbutton" id="random" (click)="move()">Dont Click This</button>
<router-outlet>

</router-outlet>



