body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background: url('../../assets/JosephJoestar123.png') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
  width: 100%;
  height: 1024px;

}
